<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="form-group">
            <label for="email"> Email</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required>
        </div>
        <div class="form-group">
            <label for="password"> Password</label>
            <input type="password" id="password" class="form-control" ngModel name="password" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Signin</button>
    </form>
</div>
