<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="form-group">
            <label for="firstName"> First Name</label>
            <input type="text" id="firstName" class="form-control" ngModel name="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName"> Last Name</label>
            <input type="text" id="lastName" class="form-control" ngModel name="lastName" required>
        </div>
        <div class="form-group">
            <label for="email"> Email</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required>
        </div>
        <div class="form-group">
            <label for="password"> Password</label>
            <input type="password" id="password" class="form-control" ngModel name="password" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    </form>
</div>
